// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$default-font-color: #fff;
$default-widget-bg-color: #373c3f;
$body-bg-color: #282C2E;

//------- COLOR PALETTE ------
$color-gray: #999;
$color-white: #ffffff;
$color-green: #70C536;
$color-cyan: #00BAD8;
$color-orange: #F3704F;
$color-red: #ED303C;
$color-yellow: #FFF46B;
$color-blue-dark: #248F8D;

//------- COLORS USAGE ------
$bg-color: #282C2E;
$bg-graph-widget: #373C3F;
$bg-message-widget: #373C3F;
$bg-number-widget: #373C3F;
$bg-build-widget: #484D50;
$bg-build-sleep: $color-blue-dark;
$bg-warning: $color-red;

// ----------------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------------
$widgets-margin: 10px;
$widgets-padding: 5px;
$widget-height: 366px;
$default-font-size: 20px;
$default-font-weight-normal: 300;

@import "widget/errorWidget";
@import "widget/textWidget";
@import "widget/buildWidget";
@import "widget/numberWidget";
@import "widget/messagesWidget";
@import "widget/graphWidget";
@import "widget/alertWidget";
@import "widget/gearmanWidget";
@import "widget/rabbitMQWidget";
@import "widget/rabbitMemoryWidget";
@import "widget/eyeWidget";
@import "widget/processWidget";
@import "widget/weatherWidget";
@import "widget/herokuStatusWidget";

@font-face {

    font-family: 'Icons';
    src: url('fonts/artill_clean_icons-webfont.eot');
    src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/artill_clean_icons-webfont.woff') format('woff'), url('fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: $default-font-size;
}

body {
    color: $default-font-color;
    padding: 0 $widgets-margin $widgets-margin;
    background-color: $body-bg-color;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: $default-font-weight-normal;
    overflow-x:hidden;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: $widgets-padding;
    padding-left: $widgets-padding;
}

.container, .row {
    padding-right: $widgets-padding;
    padding-left: $widgets-padding;
}

#dashboardBody {
    .introduction {
        position: relative;

        .logo {
            font-size: 4em;
            line-height: 100px;
            background: url('../img/rtm-logo.png') no-repeat left top;
            padding-left: 115px;
            margin: 1em auto 1em auto;
        }

        .documentation {
            position: static;
            font-size: 0.85em;
            line-height: 25px;

            img {
                max-width: 100%;
            }

            h1, h2, h3, h4, h5 {
                font-weight: 300;
            }

            h2 {
                font-size: 31.5px;
                margin-top: 1em;
            }

            h3 {
                font-size: 24.5px;
                margin-top: 0.75em;
            }

            pre {
                margin: 0.8em 0;
                background-color: #4C5457;
            }

            li {
                line-height: 25px;
            }

            a[href^="https://travis-ci.org"] {
                position: absolute;
                top: 10px;
                right: 20px;
            }

            a[href^="https://coveralls.io"] {
                position: absolute;
                top: 40px;
                right: 20px;
            }

            a[href^="https://www.versioneye.com"] {
                position: absolute;
                top: 70px;
                right: 20px;
            }
        }

    }

    .widget {
        height: $widget-height;

        .widgetContainer {
            background-color: $default-widget-bg-color;
            height: $widget-height;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            position: relative;
            padding: 2*$widgets-padding;
        }

        &.thresholdCriticalValue .value {
            color: $color-red;
        }

        &.thresholdCautionValue .value {
            color: $color-yellow;
        }

        .value {
            margin-top: 40px;
        }

        .updated-at {
            display: block;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
        }

        .change-rate.worse {
            color: $color-red !important;
        }

        .prefix {
            font-size: 0.5em;
        }

        .suffix {
            font-size: 0.5em;
        }

        .row-fluid [class*=span] {
            margin: {
                top: 5px;
            }
        }

    }

    .row {
        margin: {
            top: $widgets-margin;
        }
    }

    h1, h2, h3, h4, h5, p {
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    h1 {
        margin-bottom: 0.7rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }
    h2 {
        text-transform: uppercase;
        font-size: 76px;
        font-weight: 700;
        color: $default-font-color;
    }
    h3 {
        font-size: 25px;
        font-weight: 600;
        color: $default-font-color;
    }

    [class^="icon-"] {
        background-image: none;
        display: inline-block;
        text-align: center;
        width: 1.25em;
        line-height: normal;
    }
}

@media screen and (min-width: 767px) {
    .container {
        width: 100%;
    }
}

// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
