// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$default-font-color: #fff;
$default-widget-bg-color: #373c3f;
$body-bg-color: #282C2E;
$color-red: #ED303C;
$color-yellow: #FFF46B;
$color-gray: #999;

// ----------------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------------
$widgets-margin: 13px;
$widgets-padding: 14px;
$widget-height: 366px;
$default-font-size: 1.25em;
$default-font-weight-normal: 300;

@import "widget/errorWidget";
@import "widget/textWidget";
@import "widget/buildWidget";
@import "widget/numberWidget";
@import "widget/messagesWidget";
@import "widget/graphWidget";
@import "widget/alertWidget";
@import "widget/queueWidget";

@font-face {

  font-family: 'Icons';
  src: url('fonts/artill_clean_icons-webfont.eot');
  src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/artill_clean_icons-webfont.woff') format('woff'), url('fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $default-font-color;
  padding: 0 $widgets-margin $widgets-margin;
  background-color: $body-bg-color;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
  font-weight: $default-font-weight-normal;
}

#dashboardBody {
  .introduction {
    position: relative;

    .logo {
      font-size: 4em;
      line-height: 100px;
      background: url('../img/rtm-logo.png') no-repeat left top;
      padding-left: 115px;
      margin: 1em auto 1em auto;
      width: 660px;
    }

    .documentation {
      font-size: 0.85em;
      line-height: 25px;

      h1, h2, h3, h4, h5 {
        font-weight: 300;
      }

      h2 {
        font-size: 31.5px;
        margin-top: 1em;
      }

      h3 {
        font-size: 24.5px;
        margin-top: 0.75em;
      }

      pre {
        margin: 0.8em 0;
        background-color: #4C5457;
      }

      li {
        line-height: 25px;
      }

      a[href^="https://travis-ci.org"] {
        position: absolute;
        top: 10px;
        right: 20px;
      }

      a[href^="https://coveralls.io"] {
        position: absolute;
        top: 40px;
        right: 20px;
      }
    }

  }

  .widget {
    padding: $widgets-padding;
    overflow: hidden;
    height: $widget-height;
    background-color: $default-widget-bg-color;
    text-align: center;
    vertical-align: middle;
    position: relative;

    &.thresholdCriticalValue .value {
      color: $color-red;
    }

    &.thresholdCautionValue .value {
      color: $color-yellow;
    }

    .value {
      margin-top: 40px;
    }

    .updated-at {
      display: block;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
    }

    .change-rate.worse {
      color: $color-red !important;
    }

    .prefix {
      font-size: 0.5em;
    }

    .suffix {
      font-size: 0.5em;
    }

    .row-fluid [class*=span] {
       margin: {
         top: 5px;
       }
    }

  }

  .row-fluid [class*=span] {
    margin: {
      top: $widgets-margin;
    }
  }

  h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
    line-height: normal;
  }
  h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
  h2 {
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    color: $default-font-color;
  }
  h3 {
    font-size: 25px;
    font-weight: 600;
    color: $default-font-color;
  }

  [class^="icon-"] {
    background-image: none;
    display: inline-block;
    text-align: center;
    width: 1.25em;
    line-height: normal;
  }
}

@media screen and (min-width: 767px) {
  .container {
    width: 100%;
  }
}

// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
