@import "widget/errorWidget";
@import "widget/textWidget";
@import "widget/buildWidget";
@import "widget/numberWidget";
@import "widget/messagesWidget";
@import "widget/graphWidget";

// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$default-font-color: #fff;
$default-widget-bg-color: #47bbb3;
$body-bg-color: #242A33;

// ----------------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------------
$widgets-margin: 0.625em;
$widgets-padding: 1.1em;
$widget-min-height: 20em;
$default-font-size: 1.25em;

@font-face {

  font-family: 'Icons';
  src: url('fonts/artill_clean_icons-webfont.eot');
  src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/artill_clean_icons-webfont.woff') format('woff'),
  url('fonts/artill_clean_icons-webfont.ttf') format('truetype'),
  url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $default-font-color;
  padding: 0 $widgets-margin;
  background-color: $body-bg-color;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
}

#dashboardBody {
  .widget {
    padding: $widgets-padding;
    min-height: $widget-min-height;
    background-color: $default-widget-bg-color;
    text-align: center;
    vertical-align: middle;
    position: relative;

    .value {
      margin-top: 40px;
    }

    .updated-at {
      color: rgba(0, 0, 0, 0.3);
      display: block;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
    }

    .prefix {
      font-size: 0.5em;
    }

    .sufix {
      font-size: 0.5em;
    }

  }

  .row-fluid [class*=span] {
    margin: {
      top: $widgets-margin;
    }
  }

  h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
    line-height: normal;
  }
  h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }
  h2 {
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    color: $default-font-color;
  }
  h3 {
    font-size: 25px;
    font-weight: 600;
    color: $default-font-color;
  }

  [class^="icon-"] {
    background-image: none;
    display: inline-block;
    text-align: center;
    width: 1.25em;
    line-height: normal;
  }

}

@media screen and (min-width: 767px) {
  .container {
    width: 100%;
  }
}


// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.flip-content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
/*.flip-container:hover .flip-content, */.flip-container.flipped-effect .flip-content {
                                           -webkit-transform: rotateY(180deg);
                                           -moz-transform: rotateY(180deg);
                                           -o-transform: rotateY(180deg);
                                           transform: rotateY(180deg);
                                         }
.face {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  min-height: 20em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}


.widget-clock {
  h2 {
    font-size: 66px;
  }
}
