/* line 12, ../scss/widget/_errorWidget.scss */
#dashboardBody .widget.ErrorWidget .sock {
  display: none;
}
/* line 17, ../scss/widget/_errorWidget.scss */
#dashboardBody .widget.ErrorWidget.warning .sock {
  background-image: url(../img/sock.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  float: right;
}
/* line 30, ../scss/widget/_errorWidget.scss */
#dashboardBody .widget.ErrorWidget.thresholdCriticalValue {
  background-color: #cc0c39;
}
/* line 33, ../scss/widget/_errorWidget.scss */
#dashboardBody .widget.ErrorWidget.thresholdCriticalValue .value {
  color: white;
}
/* line 38, ../scss/widget/_errorWidget.scss */
#dashboardBody .widget.ErrorWidget.thresholdCautionValue {
  background-color: #978c06;
}
/* line 41, ../scss/widget/_errorWidget.scss */
#dashboardBody .widget.ErrorWidget.thresholdCautionValue .value {
  color: white;
}

/* line 10, ../scss/widget/_textWidget.scss */
#dashboardBody .widget.TextWidget {
  background-color: #4d4c4c;
}

/* line 15, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget {
  padding: 0;
  background: transparent;
}
/* line 19, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget h2 {
  font-size: 16px;
}
/* line 22, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget input.jenkins-build {
  color: #fff;
}
/* line 26, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .details {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
}
/* line 33, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .title {
  color: white;
}
/* line 37, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .more-info {
  color: rgba(255, 255, 255, 0.3);
}
/* line 41, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .updated-at {
  display: none;
}
/* line 45, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .progress-bar {
  display: none;
  margin-top: 22px;
}
/* line 51, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .FAILURE .face {
  background: #cf0d4d;
}
/* line 57, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .UNSTABLE .face {
  background: #f3704f;
}
/* line 62, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .face {
  padding: 14px 12px;
  background: #1693a7;
}
/* line 67, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .face.front {
  z-index: 20;
}
/* line 71, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .face.back {
  background: #a7169e;
}
/* line 75, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .flipped-effect .face.back {
  z-index: 21;
}
/* line 79, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .average-health-score {
  font-family: "Icons";
  font-size: 210px;
  line-height: 0.9;
  margin-bottom: 25px;
}
/* line 86, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .last-built {
  font-size: 14px;
}
/* line 90, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .last-committer {
  font-size: 26px;
  margin-bottom: 3px;
}
/* line 95, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .change-rate {
  line-height: 220%;
}
/* line 99, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .code-coverage {
  line-height: 140%;
}
/* line 103, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .build-icon {
  width: 100%;
  height: 230px;
}
/* line 107, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .build-icon svg {
  width: 100%;
  height: 100%;
}
/* line 113, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
/* line 125, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .flip-content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
/* line 138, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .flip-container.flipped-effect .flip-content {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 145, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 160, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 10px;
  color: white;
  text-align: center;
}
/* line 172, ../scss/widget/_buildWidget.scss */
#dashboardBody .widget.BuildWidget .widget-clock h2 {
  font-size: 66px;
}

/* line 5, ../scss/widget/_numberWidget.scss */
#dashboardBody .widget.NumberWidget .change-rate {
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}

/* line 4, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget {
  overflow: hidden;
}
/* line 7, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
/* line 12, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget h5 {
  color: #ddd;
  text-align: left;
  margin: 6px 0;
}
/* line 18, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget .message {
  text-align: left;
  border-bottom: 1px dotted #666;
  margin-bottom: 0.1em;
  padding-bottom: 0.4em;
  overflow: hidden;
}
/* line 25, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget .message .createdAt {
  color: #aaa;
  font-size: 0.75em;
  margin-bottom: 2px;
}
/* line 31, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget .message .content {
  font-size: 1.2em;
  color: #ddd;
  line-height: 110%;
}
/* line 36, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget .message .content small {
  color: #fff;
}
/* line 42, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget .message .targetAvatar {
  position: relative;
}
/* line 45, ../scss/widget/_messagesWidget.scss */
#dashboardBody .widget.MessagesWidget .message .targetAvatar i {
  position: absolute;
  top: 24px;
  left: 36px;
  text-shadow: 0px 0px 4px #000;
  width: auto;
  font-size: 34px;
  font-weight: normal;
}

/* line 5, ../scss/widget/_graphWidget.scss */
#dashboardBody .widget.GraphWidget .graph_container {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 13, ../scss/widget/_graphWidget.scss */
#dashboardBody .widget.GraphWidget .graph {
  width: 100%;
  height: 190px;
  opacity: 0.6;
}
/* line 19, ../scss/widget/_graphWidget.scss */
#dashboardBody .widget.GraphWidget .text {
  position: relative;
  z-index: 255;
}
/* line 24, ../scss/widget/_graphWidget.scss */
#dashboardBody .widget.GraphWidget h1 {
  margin-bottom: 8px;
  line-height: 25px;
}
/* line 29, ../scss/widget/_graphWidget.scss */
#dashboardBody .widget.GraphWidget h1 small {
  font-size: 18px;
}
/* line 33, ../scss/widget/_graphWidget.scss */
#dashboardBody .widget.GraphWidget .value {
  margin-top: 0;
}

/* line 2, ../scss/widget/_alertWidget.scss */
#dashboardBody .widget.AlertWidget .failure {
  color: #F3704F;
}
/* line 6, ../scss/widget/_alertWidget.scss */
#dashboardBody .widget.AlertWidget small {
  font-size: 70%;
}
/* line 10, ../scss/widget/_alertWidget.scss */
#dashboardBody .widget.AlertWidget h1 {
  margin-bottom: 0;
}

/* line 4, ../scss/widget/_gearmanWidget.scss */
#dashboardBody .widget.GearmanWidget {
  overflow: hidden;
}
/* line 7, ../scss/widget/_gearmanWidget.scss */
#dashboardBody .widget.GearmanWidget .gearmanLogo {
  width: 30%;
}
/* line 11, ../scss/widget/_gearmanWidget.scss */
#dashboardBody .widget.GearmanWidget .server {
  margin: 10px 0;
}
/* line 14, ../scss/widget/_gearmanWidget.scss */
#dashboardBody .widget.GearmanWidget .server .jobsList {
  width: 100%;
}
/* line 17, ../scss/widget/_gearmanWidget.scss */
#dashboardBody .widget.GearmanWidget .server .jobsList .name {
  width: 50%;
  text-align: right;
  padding: 2px 4px;
}
/* line 23, ../scss/widget/_gearmanWidget.scss */
#dashboardBody .widget.GearmanWidget .server .jobsList .status {
  width: 50%;
  text-align: left;
  padding: 2px 4px;
  color: #999999;
}

/* line 4, ../scss/widget/_rabbitMQWidget.scss */
#dashboardBody .widget.RabbitMQWidget {
  overflow: hidden;
}
/* line 7, ../scss/widget/_rabbitMQWidget.scss */
#dashboardBody .widget.RabbitMQWidget .logo {
  margin-bottom: 20px;
}
/* line 11, ../scss/widget/_rabbitMQWidget.scss */
#dashboardBody .widget.RabbitMQWidget .queues {
  margin: 10px 0;
}
/* line 14, ../scss/widget/_rabbitMQWidget.scss */
#dashboardBody .widget.RabbitMQWidget .queues .queue {
  width: 100%;
}
/* line 17, ../scss/widget/_rabbitMQWidget.scss */
#dashboardBody .widget.RabbitMQWidget .queues .queue .name {
  width: 35%;
  text-align: right;
  padding: 2px 4px;
  font-weight: normal;
}
/* line 24, ../scss/widget/_rabbitMQWidget.scss */
#dashboardBody .widget.RabbitMQWidget .queues .queue .status {
  width: 65%;
  text-align: left;
  padding: 2px 4px;
  color: #999999;
}

@font-face {
  font-family: 'Icons';
  src: url("fonts/artill_clean_icons-webfont.eot");
  src: url("fonts/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/artill_clean_icons-webfont.woff") format("woff"), url("fonts/artill_clean_icons-webfont.ttf") format("truetype"), url("fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 39, ../scss/dashboard.scss */
body {
  color: white;
  padding: 0 13px 13px;
  background-color: #282c2e;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

/* line 49, ../scss/dashboard.scss */
#dashboardBody .introduction {
  position: relative;
}
/* line 52, ../scss/dashboard.scss */
#dashboardBody .introduction .logo {
  font-size: 4em;
  line-height: 100px;
  background: url("../img/rtm-logo.png") no-repeat left top;
  padding-left: 115px;
  margin: 1em auto 1em auto;
  width: 660px;
}
/* line 61, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation {
  font-size: 0.85em;
  line-height: 25px;
}
/* line 65, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation h1, #dashboardBody .introduction .documentation h2, #dashboardBody .introduction .documentation h3, #dashboardBody .introduction .documentation h4, #dashboardBody .introduction .documentation h5 {
  font-weight: 300;
}
/* line 69, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation h2 {
  font-size: 31.5px;
  margin-top: 1em;
}
/* line 74, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation h3 {
  font-size: 24.5px;
  margin-top: 0.75em;
}
/* line 79, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation pre {
  margin: 0.8em 0;
  background-color: #4C5457;
}
/* line 84, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation li {
  line-height: 25px;
}
/* line 88, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation a[href^="https://travis-ci.org"] {
  position: absolute;
  top: 10px;
  right: 20px;
}
/* line 94, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation a[href^="https://coveralls.io"] {
  position: absolute;
  top: 40px;
  right: 20px;
}
/* line 100, ../scss/dashboard.scss */
#dashboardBody .introduction .documentation a[href^="https://www.versioneye.com"] {
  position: absolute;
  top: 70px;
  right: 20px;
}
/* line 109, ../scss/dashboard.scss */
#dashboardBody .widget {
  padding: 14px;
  overflow: hidden;
  height: 366px;
  background-color: #373c3f;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
/* line 118, ../scss/dashboard.scss */
#dashboardBody .widget.thresholdCriticalValue .value {
  color: #ed303c;
}
/* line 122, ../scss/dashboard.scss */
#dashboardBody .widget.thresholdCautionValue .value {
  color: #fff46b;
}
/* line 126, ../scss/dashboard.scss */
#dashboardBody .widget .value {
  margin-top: 40px;
}
/* line 130, ../scss/dashboard.scss */
#dashboardBody .widget .updated-at {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
/* line 138, ../scss/dashboard.scss */
#dashboardBody .widget .change-rate.worse {
  color: #ed303c !important;
}
/* line 142, ../scss/dashboard.scss */
#dashboardBody .widget .prefix {
  font-size: 0.5em;
}
/* line 146, ../scss/dashboard.scss */
#dashboardBody .widget .suffix {
  font-size: 0.5em;
}
/* line 150, ../scss/dashboard.scss */
#dashboardBody .widget .row-fluid [class*=span] {
  margin-top: 5px;
}
/* line 158, ../scss/dashboard.scss */
#dashboardBody .row-fluid [class*=span] {
  margin-top: 13px;
}
/* line 164, ../scss/dashboard.scss */
#dashboardBody h1, #dashboardBody h2, #dashboardBody h3, #dashboardBody h4, #dashboardBody h5, #dashboardBody p {
  padding: 0;
  margin: 0;
  line-height: normal;
}
/* line 169, ../scss/dashboard.scss */
#dashboardBody h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
/* line 175, ../scss/dashboard.scss */
#dashboardBody h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: white;
}
/* line 181, ../scss/dashboard.scss */
#dashboardBody h3 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
/* line 187, ../scss/dashboard.scss */
#dashboardBody [class^="icon-"] {
  background-image: none;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  line-height: normal;
}

@media screen and (min-width: 767px) {
  /* line 197, ../scss/dashboard.scss */
  .container {
    width: 100%;
  }
}
/* line 205, ../scss/dashboard.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 212, ../scss/dashboard.scss */
.clearfix:after {
  clear: both;
}

/* line 216, ../scss/dashboard.scss */
.clearfix {
  zoom: 1;
}
