#dashboardBody .widget.ErrorWidget {
  background-color: #cc0c39; }

#dashboardBody .widget.TextWidget {
  background-color: #4d4c4c; }

#dashboardBody .widget.BuildWidget {
  padding: 0; }
  #dashboardBody .widget.BuildWidget h2 {
    font-size: 16px; }
  #dashboardBody .widget.BuildWidget input.jenkins-build {
    color: #fff; }
  #dashboardBody .widget.BuildWidget .title {
    color: white; }
  #dashboardBody .widget.BuildWidget .more-info {
    color: rgba(255, 255, 255, 0.3); }
  #dashboardBody .widget.BuildWidget .updated-at {
    display: none; }
  #dashboardBody .widget.BuildWidget .progress-bar {
    display: none;
    margin-top: 22px; }
  #dashboardBody .widget.BuildWidget .building-failure .face {
    background: #cf0d4d; }
  #dashboardBody .widget.BuildWidget .face {
    padding: 25px 12px;
    background: #1693a7; }
  #dashboardBody .widget.BuildWidget .face.front {
    z-index: 20; }
  #dashboardBody .widget.BuildWidget .face.back {
    background: #a7169e; }
  #dashboardBody .widget.BuildWidget .flipped-effect .face.back {
    z-index: 21; }
  #dashboardBody .widget.BuildWidget .average-health-score {
    font-family: "Icons";
    font-size: 210px;
    line-height: 0.9;
    margin-bottom: 25px; }
  #dashboardBody .widget.BuildWidget .last-built {
    font-size: 14px; }
  #dashboardBody .widget.BuildWidget .last-committer {
    font-size: 26px;
    margin-bottom: 3px; }
  #dashboardBody .widget.BuildWidget .build-icon {
    width: 100%;
    height: 230px; }
    #dashboardBody .widget.BuildWidget .build-icon svg {
      width: 100%;
      height: 100%; }

#dashboardBody .widget.NumberWidget {
  background-color: #47bbb3; }
  #dashboardBody .widget.NumberWidget .value {
    color: white; }
  #dashboardBody .widget.NumberWidget .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: white;
    display: none; }
  #dashboardBody .widget.NumberWidget .more-info {
    color: rgba(255, 255, 255, 0.7); }
  #dashboardBody .widget.NumberWidget .updated-at {
    color: rgba(0, 0, 0, 0.3);
    display: none; }

.widget-error-rate .widget-number.widget {
  background: url(/assets/sock.png) no-repeat 191px 225px;
  background-color: #CC0C39;
  padding-top: 0;
  background-size: 21%; }
  .widget-error-rate .widget-number.widget h1 {
    margin-top: -10px; }

#dashboardBody .widget.MessagesWidget {
  background-color: #4d4c4c;
  height: 20em;
  overflow: hidden; }
  #dashboardBody .widget.MessagesWidget h1 {
    font-size: 45px;
    margin-bottom: 10px; }
  #dashboardBody .widget.MessagesWidget h5 {
    color: #ddd;
    text-align: left;
    margin: 6px 0; }
  #dashboardBody .widget.MessagesWidget .message {
    text-align: left;
    border-bottom: 1px solid #777;
    margin-bottom: 0.5em;
    padding-bottom: 0.4em; }
    #dashboardBody .widget.MessagesWidget .message .createdAt {
      color: #aaa;
      font-size: 0.6em;
      margin-bottom: 2px; }
    #dashboardBody .widget.MessagesWidget .message .content {
      font-size: 0.7em;
      color: #ddd; }

body {
  color: white;
  padding: 0 0.625em;
  background-color: #242a33;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em; }

#dashboardBody .widget {
  padding: 0.625em;
  min-height: 20em;
  background-color: #1693a7;
  text-align: center;
  vertical-align: middle; }
#dashboardBody .row-fluid [class*=span] {
  margin-top: 0.625em; }
#dashboardBody h1, #dashboardBody h2, #dashboardBody h3, #dashboardBody h4, #dashboardBody h5, #dashboardBody p {
  padding: 0;
  margin: 0;
  line-height: normal; }
#dashboardBody h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400; }
#dashboardBody h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: white; }
#dashboardBody h3 {
  font-size: 25px;
  font-weight: 600;
  color: white; }
#dashboardBody [class^="icon-"] {
  background-image: none;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  line-height: normal; }

@media screen and (min-width: 767px) {
  .container {
    width: 100%; } }
