@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_errorWidget\.scss}line{font-family:\0000312}}
#dashboardBody .widget.ErrorWidget .sock {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_errorWidget\.scss}line{font-family:\0000317}}
#dashboardBody .widget.ErrorWidget.warning .sock {
  background-image: url(../img/sock.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_errorWidget\.scss}line{font-family:\0000330}}
#dashboardBody .widget.ErrorWidget.thresholdCriticalValue {
  background-color: #CC0C39;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_errorWidget\.scss}line{font-family:\0000333}}
#dashboardBody .widget.ErrorWidget.thresholdCriticalValue .value {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_errorWidget\.scss}line{font-family:\0000338}}
#dashboardBody .widget.ErrorWidget.thresholdCautionValue {
  background-color: #978C06;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_errorWidget\.scss}line{font-family:\0000341}}
#dashboardBody .widget.ErrorWidget.thresholdCautionValue .value {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_textWidget\.scss}line{font-family:\0000310}}
#dashboardBody .widget.TextWidget {
  background-color: #4D4C4C;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000315}}
#dashboardBody .widget.BuildWidget {
  padding: 0;
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000319}}
#dashboardBody .widget.BuildWidget h2 {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000322}}
#dashboardBody .widget.BuildWidget input.jenkins-build {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000326}}
#dashboardBody .widget.BuildWidget .details {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000333}}
#dashboardBody .widget.BuildWidget .title {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000337}}
#dashboardBody .widget.BuildWidget .more-info {
  color: rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000341}}
#dashboardBody .widget.BuildWidget .updated-at {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000345}}
#dashboardBody .widget.BuildWidget .progress-bar {
  display: none;
  margin-top: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000351}}
#dashboardBody .widget.BuildWidget .FAILURE .face {
  background: #cf0d4d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000357}}
#dashboardBody .widget.BuildWidget .UNSTABLE .face {
  background: #F3704F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000362}}
#dashboardBody .widget.BuildWidget .face {
  padding: 14px 12px;
  background: #1693a7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000367}}
#dashboardBody .widget.BuildWidget .face.front {
  z-index: 20;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000371}}
#dashboardBody .widget.BuildWidget .face.back {
  background: #a7169e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000375}}
#dashboardBody .widget.BuildWidget .flipped-effect .face.back {
  z-index: 21;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000379}}
#dashboardBody .widget.BuildWidget .average-health-score {
  font-family: "Icons";
  font-size: 210px;
  line-height: 0.9;
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000386}}
#dashboardBody .widget.BuildWidget .last-built {
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000390}}
#dashboardBody .widget.BuildWidget .last-committer {
  font-size: 26px;
  margin-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000395}}
#dashboardBody .widget.BuildWidget .change-rate {
  line-height: 220%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\0000399}}
#dashboardBody .widget.BuildWidget .code-coverage {
  line-height: 140%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003103}}
#dashboardBody .widget.BuildWidget .build-icon {
  width: 100%;
  height: 230px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003107}}
#dashboardBody .widget.BuildWidget .build-icon svg {
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003113}}
#dashboardBody .widget.BuildWidget .flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003125}}
#dashboardBody .widget.BuildWidget .flip-content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003138}}
#dashboardBody .widget.BuildWidget .flip-container.flipped-effect .flip-content {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003145}}
#dashboardBody .widget.BuildWidget .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003160}}
#dashboardBody .widget.BuildWidget .face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 10px;
  color: white;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_buildWidget\.scss}line{font-family:\00003172}}
#dashboardBody .widget.BuildWidget .widget-clock h2 {
  font-size: 66px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_numberWidget\.scss}line{font-family:\000035}}
#dashboardBody .widget.NumberWidget .change-rate {
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\000034}}
#dashboardBody .widget.MessagesWidget {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\000037}}
#dashboardBody .widget.MessagesWidget h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000312}}
#dashboardBody .widget.MessagesWidget h5 {
  color: #ddd;
  text-align: left;
  margin: 6px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000318}}
#dashboardBody .widget.MessagesWidget .message {
  text-align: left;
  border-bottom: 1px dotted #666;
  margin-bottom: 0.1em;
  padding-bottom: 0.4em;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000325}}
#dashboardBody .widget.MessagesWidget .message .createdAt {
  color: #aaa;
  font-size: 0.75em;
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000331}}
#dashboardBody .widget.MessagesWidget .message .content {
  font-size: 1.2em;
  color: #ddd;
  line-height: 110%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000336}}
#dashboardBody .widget.MessagesWidget .message .content small {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000342}}
#dashboardBody .widget.MessagesWidget .message .targetAvatar {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_messagesWidget\.scss}line{font-family:\0000345}}
#dashboardBody .widget.MessagesWidget .message .targetAvatar i {
  position: absolute;
  top: 24px;
  left: 36px;
  text-shadow: 0px 0px 4px #000;
  width: auto;
  font-size: 34px;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_graphWidget\.scss}line{font-family:\000035}}
#dashboardBody .widget.GraphWidget .graph_container {
  width: 100%;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_graphWidget\.scss}line{font-family:\0000313}}
#dashboardBody .widget.GraphWidget .graph {
  width: 100%;
  height: 190px;
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_graphWidget\.scss}line{font-family:\0000319}}
#dashboardBody .widget.GraphWidget .text {
  position: relative;
  z-index: 255;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_graphWidget\.scss}line{font-family:\0000324}}
#dashboardBody .widget.GraphWidget h1 {
  margin-bottom: 8px;
  line-height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_graphWidget\.scss}line{font-family:\0000329}}
#dashboardBody .widget.GraphWidget h1 small {
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_graphWidget\.scss}line{font-family:\0000333}}
#dashboardBody .widget.GraphWidget .value {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_alertWidget\.scss}line{font-family:\000032}}
#dashboardBody .widget.AlertWidget .failure {
  color: #F3704F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_alertWidget\.scss}line{font-family:\000036}}
#dashboardBody .widget.AlertWidget small {
  font-size: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_alertWidget\.scss}line{font-family:\0000310}}
#dashboardBody .widget.AlertWidget h1 {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_gearmanWidget\.scss}line{font-family:\000034}}
#dashboardBody .widget.GearmanWidget {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_gearmanWidget\.scss}line{font-family:\000037}}
#dashboardBody .widget.GearmanWidget .gearmanLogo {
  width: 30%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_gearmanWidget\.scss}line{font-family:\0000311}}
#dashboardBody .widget.GearmanWidget .server {
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_gearmanWidget\.scss}line{font-family:\0000314}}
#dashboardBody .widget.GearmanWidget .server .jobsList {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_gearmanWidget\.scss}line{font-family:\0000317}}
#dashboardBody .widget.GearmanWidget .server .jobsList .name {
  width: 50%;
  text-align: right;
  padding: 2px 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_gearmanWidget\.scss}line{font-family:\0000323}}
#dashboardBody .widget.GearmanWidget .server .jobsList .status {
  width: 50%;
  text-align: left;
  padding: 2px 4px;
  color: #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\000034}}
#dashboardBody .widget.RabbitMQWidget {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\000037}}
#dashboardBody .widget.RabbitMQWidget .logo {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\0000311}}
#dashboardBody .widget.RabbitMQWidget .queues {
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\0000314}}
#dashboardBody .widget.RabbitMQWidget .queues .queue {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\0000317}}
#dashboardBody .widget.RabbitMQWidget .queues .queue .name {
  width: 45%;
  text-align: right;
  padding: 2px 4px;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\0000324}}
#dashboardBody .widget.RabbitMQWidget .queues .queue .status {
  width: 55%;
  text-align: left;
  padding: 2px 4px;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\0000331}}
#dashboardBody .widget.RabbitMQWidget .queues .queue .failure {
  color: #ED303C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_rabbitMQWidget\.scss}line{font-family:\0000334}}
#dashboardBody .widget.RabbitMQWidget .queues .queue .warning {
  color: #FFF46B;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_eyeWidget\.scss}line{font-family:\000034}}
#dashboardBody .widget.EyeWidget {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_eyeWidget\.scss}line{font-family:\000037}}
#dashboardBody .widget.EyeWidget .process {
  margin: 10px 0;
  width: 100%;
  color: #ED303C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_eyeWidget\.scss}line{font-family:\0000312}}
#dashboardBody .widget.EyeWidget .process .name {
  width: 40%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_eyeWidget\.scss}line{font-family:\0000316}}
#dashboardBody .widget.EyeWidget .process .state {
  width: 60%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_eyeWidget\.scss}line{font-family:\0000320}}
#dashboardBody .widget.EyeWidget .process.starting {
  color: #FFF46B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_eyeWidget\.scss}line{font-family:\0000324}}
#dashboardBody .widget.EyeWidget .process.up {
  color: #70C536;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_processWidget\.scss}line{font-family:\000034}}
#dashboardBody .widget.ProcessWidget {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_processWidget\.scss}line{font-family:\000037}}
#dashboardBody .widget.ProcessWidget .process {
  margin: 10px 0;
  width: 100%;
  color: #ED303C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_processWidget\.scss}line{font-family:\0000312}}
#dashboardBody .widget.ProcessWidget .process.starting {
  color: #FFF46B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_processWidget\.scss}line{font-family:\0000316}}
#dashboardBody .widget.ProcessWidget .process.up {
  color: #70C536;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_processWidget\.scss}line{font-family:\0000321}}
#dashboardBody .widget.ProcessWidget .process.unmonitored .pid, #dashboardBody .widget.ProcessWidget .process.down .pid {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_processWidget\.scss}line{font-family:\0000326}}
#dashboardBody .widget.ProcessWidget .process .icon {
  width: auto;
  height: auto;
  background: none;
  font-size: 120px;
  line-height: 126px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_weatherWidget\.scss}line{font-family:\000032}}
#dashboardBody .widget.WeatherWidget .weather-icon {
  font-family: 'Icons';
  font-size: 210px;
  line-height: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/widget\/_weatherWidget\.scss}line{font-family:\000038}}
#dashboardBody .widget.WeatherWidget .weather-info {
  font-size: 40px;
}

@font-face {
  font-family: 'Icons';
  src: url("fonts/artill_clean_icons-webfont.eot");
  src: url("fonts/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/artill_clean_icons-webfont.woff") format("woff"), url("fonts/artill_clean_icons-webfont.ttf") format("truetype"), url("fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000358}}
body {
  color: #fff;
  padding: 0 13px 13px;
  background-color: #282C2E;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000368}}
#dashboardBody .introduction {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000371}}
#dashboardBody .introduction .logo {
  font-size: 4em;
  line-height: 100px;
  background: url("../img/rtm-logo.png") no-repeat left top;
  padding-left: 115px;
  margin: 1em auto 1em auto;
  width: 660px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000380}}
#dashboardBody .introduction .documentation {
  font-size: 0.85em;
  line-height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000384}}
#dashboardBody .introduction .documentation h1, #dashboardBody .introduction .documentation h2, #dashboardBody .introduction .documentation h3, #dashboardBody .introduction .documentation h4, #dashboardBody .introduction .documentation h5 {
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000388}}
#dashboardBody .introduction .documentation h2 {
  font-size: 31.5px;
  margin-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000393}}
#dashboardBody .introduction .documentation h3 {
  font-size: 24.5px;
  margin-top: 0.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\0000398}}
#dashboardBody .introduction .documentation pre {
  margin: 0.8em 0;
  background-color: #4C5457;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003103}}
#dashboardBody .introduction .documentation li {
  line-height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003107}}
#dashboardBody .introduction .documentation a[href^="https://travis-ci.org"] {
  position: absolute;
  top: 10px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003113}}
#dashboardBody .introduction .documentation a[href^="https://coveralls.io"] {
  position: absolute;
  top: 40px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003119}}
#dashboardBody .introduction .documentation a[href^="https://www.versioneye.com"] {
  position: absolute;
  top: 70px;
  right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003128}}
#dashboardBody .widget {
  padding: 14px;
  overflow: hidden;
  height: 366px;
  background-color: #373c3f;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003137}}
#dashboardBody .widget.thresholdCriticalValue .value {
  color: #ED303C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003141}}
#dashboardBody .widget.thresholdCautionValue .value {
  color: #FFF46B;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003145}}
#dashboardBody .widget .value {
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003149}}
#dashboardBody .widget .updated-at {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003157}}
#dashboardBody .widget .change-rate.worse {
  color: #ED303C !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003161}}
#dashboardBody .widget .prefix {
  font-size: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003165}}
#dashboardBody .widget .suffix {
  font-size: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003169}}
#dashboardBody .widget .row-fluid [class*=span] {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003177}}
#dashboardBody .row-fluid [class*=span] {
  margin-top: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003183}}
#dashboardBody h1, #dashboardBody h2, #dashboardBody h3, #dashboardBody h4, #dashboardBody h5, #dashboardBody p {
  padding: 0;
  margin: 0;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003188}}
#dashboardBody h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003194}}
#dashboardBody h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003200}}
#dashboardBody h3 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003206}}
#dashboardBody [class^="icon-"] {
  background-image: none;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  line-height: normal;
}

@media screen and (min-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003216}}
  .container {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003224}}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003231}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/michalplachta\/github\/stp\.rtm\/public\/scss\/dashboard\.scss}line{font-family:\00003235}}
.clearfix {
  zoom: 1;
}
