#dashboardBody .widget.ErrorWidget .sock {
  display: none;
}
#dashboardBody .widget.ErrorWidget.warning .sock {
  background-image: url(../img/sock.png);
  background-repeat: no-repeat;
  background-size: 45%;
  width: 100px;
  height: 100px;
  display: block;
  float: right;
}
#dashboardBody .widget.ErrorWidget .value {
  font-size: 4rem;
}
#dashboardBody .widget.ErrorWidget.thresholdCriticalValue .widgetContainer {
  background-color: #cc0c39;
}
#dashboardBody .widget.ErrorWidget.thresholdCriticalValue .widgetContainer .value {
  color: white;
}
#dashboardBody .widget.ErrorWidget.thresholdCautionValue .widgetContainer {
  background-color: #978c06;
}
#dashboardBody .widget.ErrorWidget.thresholdCautionValue .widgetContainer .value {
  color: white;
}

#dashboardBody .widget.TextWidget {
  background-color: #4d4c4c;
}

#dashboardBody .widget.BuildWidget .widgetContainer {
  padding: 0;
  background: transparent;
}
#dashboardBody .widget.BuildWidget h2 {
  font-size: 16px;
}
#dashboardBody .widget.BuildWidget input.jenkins-build {
  color: #fff;
}
#dashboardBody .widget.BuildWidget .details {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
}
#dashboardBody .widget.BuildWidget .title {
  color: white;
}
#dashboardBody .widget.BuildWidget .more-info {
  color: rgba(255, 255, 255, 0.3);
}
#dashboardBody .widget.BuildWidget .updated-at {
  display: none;
}
#dashboardBody .widget.BuildWidget .progress-bar {
  display: none;
  margin-top: 22px;
}
#dashboardBody .widget.BuildWidget .FAILURE .face {
  background: #cf0d4d;
}
#dashboardBody .widget.BuildWidget .UNSTABLE .face {
  background: #f3704f;
}
#dashboardBody .widget.BuildWidget .face {
  padding: 14px 12px;
  background: #1693a7;
}
#dashboardBody .widget.BuildWidget .face.front {
  z-index: 20;
}
#dashboardBody .widget.BuildWidget .face.back {
  background: #a7169e;
}
#dashboardBody .widget.BuildWidget .flipped-effect .face.back {
  z-index: 21;
}
#dashboardBody .widget.BuildWidget .average-health-score {
  font-family: "Icons";
  font-size: 14rem;
  line-height: 0.9;
  margin-bottom: 25px;
}
#dashboardBody .widget.BuildWidget .last-built {
  font-size: 0.7rem;
}
#dashboardBody .widget.BuildWidget .last-committer {
  font-size: 1rem;
  margin-bottom: 3px;
}
#dashboardBody .widget.BuildWidget .change-rate {
  line-height: 220%;
}
#dashboardBody .widget.BuildWidget .code-coverage {
  font-size: 0.9rem;
}
#dashboardBody .widget.BuildWidget .build-icon {
  width: 100%;
  height: 100%;
}
#dashboardBody .widget.BuildWidget .build-icon svg {
  width: 100%;
  height: 100%;
}
#dashboardBody .widget.BuildWidget .flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#dashboardBody .widget.BuildWidget .flip-content {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#dashboardBody .widget.BuildWidget .flip-container.flipped-effect .flip-content {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#dashboardBody .widget.BuildWidget .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#dashboardBody .widget.BuildWidget .face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 10px;
  color: white;
  text-align: center;
}
#dashboardBody .widget.BuildWidget .widget-clock h2 {
  font-size: 66px;
}

#dashboardBody .widget.NumberWidget .change-rate {
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}

#dashboardBody .widget.MessagesWidget {
  overflow: hidden;
}
#dashboardBody .widget.MessagesWidget h1 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}
#dashboardBody .widget.MessagesWidget h5 {
  color: #ddd;
  text-align: left;
  margin: 6px 0;
}
#dashboardBody .widget.MessagesWidget .message {
  text-align: left;
  border-bottom: 1px dotted #666;
  margin-bottom: 0.1em;
  padding-bottom: 0.4em;
  overflow: hidden;
}
#dashboardBody .widget.MessagesWidget .message .createdAt {
  color: #aaa;
  font-size: 0.75em;
  margin-bottom: 2px;
}
#dashboardBody .widget.MessagesWidget .message .content {
  font-size: 1rem;
  color: #ddd;
  line-height: 110%;
}
#dashboardBody .widget.MessagesWidget .message .content small {
  color: #fff;
}
#dashboardBody .widget.MessagesWidget .message .targetAvatar {
  position: relative;
}
#dashboardBody .widget.MessagesWidget .message .targetAvatar i {
  position: absolute;
  top: 24px;
  left: 36px;
  text-shadow: 0px 0px 4px #000;
  width: auto;
  font-size: 34px;
  font-weight: normal;
}

#dashboardBody .widget.SlackWidget {
  overflow: hidden;
}
#dashboardBody .widget.SlackWidget h1 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}
#dashboardBody .widget.SlackWidget h5 {
  color: #ddd;
  text-align: left;
  margin: 6px 0;
}
#dashboardBody .widget.SlackWidget .message {
  text-align: left;
  border-bottom: 1px dotted #666;
  margin-bottom: 0.1em;
  padding-bottom: 0.4em;
  overflow: hidden;
}
#dashboardBody .widget.SlackWidget .message .createdAt {
  color: #aaa;
  font-size: 0.75em;
  margin-bottom: 2px;
}
#dashboardBody .widget.SlackWidget .message .content {
  font-size: 0.8rem;
  color: #ddd;
  line-height: 110%;
}
#dashboardBody .widget.SlackWidget .message .content small {
  color: #fff;
}
#dashboardBody .widget.SlackWidget .message .avatar {
  width: 50px;
  float: left;
  margin-right: 5px;
}

#dashboardBody .widget.GraphWidget .graph_container {
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
#dashboardBody .widget.GraphWidget .graph {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
#dashboardBody .widget.GraphWidget .text {
  position: relative;
  z-index: 255;
}
#dashboardBody .widget.GraphWidget h1 small {
  font-size: 1.2rem;
}
#dashboardBody .widget.GraphWidget .value {
  margin-top: 0;
  font-size: 4rem;
  line-height: 3rem;
}

#dashboardBody .widget.AlertWidget .failure {
  color: #F3704F;
}
#dashboardBody .widget.AlertWidget small {
  font-size: 70%;
}
#dashboardBody .widget.AlertWidget h1 {
  margin-bottom: 0;
}

#dashboardBody .widget.GearmanWidget {
  overflow: hidden;
}
#dashboardBody .widget.GearmanWidget .gearmanLogo {
  width: 30%;
}
#dashboardBody .widget.GearmanWidget .server {
  margin: 10px 0;
}
#dashboardBody .widget.GearmanWidget .server .jobsList {
  width: 100%;
}
#dashboardBody .widget.GearmanWidget .server .jobsList .name {
  width: 50%;
  text-align: right;
  padding: 2px 4px;
}
#dashboardBody .widget.GearmanWidget .server .jobsList .status {
  width: 50%;
  text-align: left;
  padding: 2px 4px;
  color: #999999;
}

#dashboardBody .widget.RabbitMQWidget {
  overflow: hidden;
}
#dashboardBody .widget.RabbitMQWidget .logo {
  height: 4rem;
  margin-bottom: 1rem;
}
#dashboardBody .widget.RabbitMQWidget .queues .queue {
  font-size: 1.3rem;
  width: 100%;
}
#dashboardBody .widget.RabbitMQWidget .queues .queue .name {
  width: 35%;
  text-align: right;
  padding: 2px 4px;
  font-weight: normal;
}
#dashboardBody .widget.RabbitMQWidget .queues .queue .status {
  line-height: 1.5rem;
  width: 65%;
  text-align: left;
  padding: 2px 4px;
  color: #999999;
}
#dashboardBody .widget.RabbitMQWidget .queues .queue .failure {
  color: #ed303c;
}
#dashboardBody .widget.RabbitMQWidget .queues .queue .warning {
  color: #fff46b;
}

#dashboardBody .widget.UsageWidget .graph_container {
  width: 100%;
  height: 12rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
#dashboardBody .widget.UsageWidget .graph {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
#dashboardBody .widget.UsageWidget .text {
  position: relative;
  z-index: 255;
}
#dashboardBody .widget.UsageWidget h1 small {
  font-size: 1.2rem;
}
#dashboardBody .widget.UsageWidget .value {
  margin-top: 0;
  font-size: 4rem;
  line-height: 3rem;
}

#dashboardBody .widget.EyeWidget {
  font-size: 1.2rem;
  overflow: hidden;
}
#dashboardBody .widget.EyeWidget .process {
  margin: 10px 0;
  width: 100%;
  color: #ed303c;
}
#dashboardBody .widget.EyeWidget .process .name {
  width: 40%;
}
#dashboardBody .widget.EyeWidget .process .state {
  width: 60%;
}
#dashboardBody .widget.EyeWidget .process.starting {
  color: #fff46b;
}
#dashboardBody .widget.EyeWidget .process.up {
  color: #70c536;
}

#dashboardBody .widget.ProcessWidget {
  overflow: hidden;
}
#dashboardBody .widget.ProcessWidget h1 {
  height: 4rem;
}
#dashboardBody .widget.ProcessWidget .process {
  margin: 10px 0;
  width: 100%;
  color: #ed303c;
}
#dashboardBody .widget.ProcessWidget .process.STARTING {
  color: #fff46b;
}
#dashboardBody .widget.ProcessWidget .process.RUNNING {
  color: #70c536;
}
#dashboardBody .widget.ProcessWidget .process.unmonitored .pid, #dashboardBody .widget.ProcessWidget .process.down .pid {
  display: none;
}
#dashboardBody .widget.ProcessWidget .process .icon {
  width: auto;
  height: auto;
  background: none;
  font-size: 9rem;
  line-height: 9rem;
}

#dashboardBody .widget.EyeProcessWidget {
  overflow: hidden;
}
#dashboardBody .widget.EyeProcessWidget h1 {
  height: 4rem;
}
#dashboardBody .widget.EyeProcessWidget .process {
  margin: 10px 0;
  width: 100%;
  color: #ed303c;
}
#dashboardBody .widget.EyeProcessWidget .process.starting {
  color: #fff46b;
}
#dashboardBody .widget.EyeProcessWidget .process.up {
  color: #70c536;
}
#dashboardBody .widget.EyeProcessWidget .process.unmonitored .pid, #dashboardBody .widget.EyeProcessWidget .process.down .pid {
  display: none;
}
#dashboardBody .widget.EyeProcessWidget .process .icon {
  width: auto;
  height: auto;
  background: none;
  font-size: 9rem;
  line-height: 9rem;
}

#dashboardBody .widget.WeatherWidget .weather-icon {
  font-family: 'Icons';
  font-size: 210px;
  line-height: 0.9;
}
#dashboardBody .widget.WeatherWidget .weather-info {
  font-size: 40px;
}

#dashboardBody .widget.HerokuStatusWidget h1.title {
  margin: 0;
}
#dashboardBody .widget.HerokuStatusWidget i {
  font-size: 170px;
  height: auto;
}
#dashboardBody .widget.HerokuStatusWidget .heroku-message {
  font-size: 24px;
  color: #999;
}
#dashboardBody .widget.HerokuStatusWidget .herokuUp {
  color: green;
}
#dashboardBody .widget.HerokuStatusWidget .herokuDown {
  color: red;
}
#dashboardBody .widget.HerokuStatusWidget .herokuDevDown {
  color: #ffff00;
}

@font-face {
  font-family: 'Icons';
  src: url("fonts/artill_clean_icons-webfont.eot");
  src: url("fonts/artill_clean_icons-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/artill_clean_icons-webfont.woff") format("woff"), url("fonts/artill_clean_icons-webfont.ttf") format("truetype"), url("fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 20px;
}

body {
  color: white;
  padding: 0 10px 10px;
  background-color: #282c2e;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  overflow-x: hidden;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.container, .row {
  padding-right: 5px;
  padding-left: 5px;
}

#dashboardBody .introduction {
  position: relative;
}
#dashboardBody .introduction .logo {
  font-size: 4em;
  line-height: 100px;
  background: url("../img/rtm-logo.png") no-repeat left top;
  padding-left: 115px;
  margin: 1em auto 1em auto;
}
#dashboardBody .introduction .documentation {
  position: static;
  font-size: 0.85em;
  line-height: 25px;
}
#dashboardBody .introduction .documentation img {
  max-width: 100%;
}
#dashboardBody .introduction .documentation h1, #dashboardBody .introduction .documentation h2, #dashboardBody .introduction .documentation h3, #dashboardBody .introduction .documentation h4, #dashboardBody .introduction .documentation h5 {
  font-weight: 300;
}
#dashboardBody .introduction .documentation h2 {
  font-size: 31.5px;
  margin-top: 1em;
}
#dashboardBody .introduction .documentation h3 {
  font-size: 24.5px;
  margin-top: 0.75em;
}
#dashboardBody .introduction .documentation pre {
  margin: 0.8em 0;
  background-color: #4C5457;
}
#dashboardBody .introduction .documentation li {
  line-height: 25px;
}
#dashboardBody .introduction .documentation a[href^="https://travis-ci.org"] {
  position: absolute;
  top: 10px;
  right: 20px;
}
#dashboardBody .introduction .documentation a[href^="https://coveralls.io"] {
  position: absolute;
  top: 40px;
  right: 20px;
}
#dashboardBody .introduction .documentation a[href^="https://www.versioneye.com"] {
  position: absolute;
  top: 70px;
  right: 20px;
}
#dashboardBody .widget {
  height: 366px;
}
#dashboardBody .widget .widgetContainer {
  background-color: #373c3f;
  height: 366px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 10px;
}
#dashboardBody .widget.thresholdCriticalValue .value {
  color: #ed303c;
}
#dashboardBody .widget.thresholdCautionValue .value {
  color: #fff46b;
}
#dashboardBody .widget .value {
  margin-top: 40px;
}
#dashboardBody .widget .updated-at {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
#dashboardBody .widget .change-rate.worse {
  color: #ed303c !important;
}
#dashboardBody .widget .prefix {
  font-size: 0.5em;
}
#dashboardBody .widget .suffix {
  font-size: 0.5em;
}
#dashboardBody .widget .row-fluid [class*=span] {
  margin-top: 5px;
}
#dashboardBody .row {
  margin-top: 10px;
}
#dashboardBody h1, #dashboardBody h2, #dashboardBody h3, #dashboardBody h4, #dashboardBody h5, #dashboardBody p {
  padding: 0;
  margin: 0;
  line-height: normal;
}
#dashboardBody h1 {
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
#dashboardBody h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: white;
}
#dashboardBody h3 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
#dashboardBody [class^="icon-"] {
  background-image: none;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  line-height: normal;
}

@media screen and (min-width: 767px) {
  .container {
    width: 100%;
  }
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
