$default-font-size: 10px;

.widget {
}

#dashboardBody {
    .widget {
        height: 253px;

        &.GraphWidget {
            .graph_container {
                height: 14rem;
            }
        }

        &.BuildWidget {
            .title {
                min-height: 6rem;
            }
        }
    }

}

html {
    font-size: $default-font-size;
}


