// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$critical-background-color: #CC0C39;
$caution-background-color: #978C06;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.ErrorWidget {

  .sock {
    display: none;
  }

  &.warning {
    .sock {
      background: {
        image: url(../img/sock.png);
        repeat: no-repeat;
      }
      width: 100px;
      height: 100px;
      display: block;
      float: right;
    }
  }


  &.thresholdCriticalValue {
    background-color: $critical-background-color;

    .value {
      color: $default-font-color;
    }
  }

  &.thresholdCautionValue {
    background-color: $caution-background-color;

    .value {
      color: $default-font-color;
    }
  }

}
