// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$critical-background-color: #CC0C39;
$caution-background-color: #978C06;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.ErrorWidget {

    .sock {
        display: none;
    }

    &.warning {
        .sock {
            background: {
                image: url(../img/sock.png);
                repeat: no-repeat;
                size: 45%;
            }
            width: 100px;
            height: 100px;
            display: block;
            float: right;
        }
    }

    .value {
        font-size: 4rem;
    }

    &.thresholdCriticalValue .widgetContainer{
        background-color: $critical-background-color;

        .value {
            color: $default-font-color;
        }
    }

    &.thresholdCautionValue .widgetContainer{
        background-color: $caution-background-color;

        .value {
            color: $default-font-color;
        }
    }

}
