// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$critical-background-color: #CC0C39;
$caution-background-color: #978C06;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.ErrorWidget {

  &.warning {
    background: {
      image: url(../img/sock.png);
      repeat: no-repeat;
      position:  191px 215px;
      size: 19%;
    }
  }

  &.thresholdCriticalValue {
    background-color: $critical-background-color;

    .value {
      color: $default-font-color;
    }
  }

  &.thresholdCautionValue {
    background-color: $caution-background-color;

    .value {
      color: $default-font-color;
    }
  }

}
