// ----------------------------------------------------------------------------
// Widget-messages styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.EyeWidget {
    font-size: 1.2rem;
    overflow: hidden;

    .process {
        margin: 10px 0;
        width: 100%;

        color: $color-red;
        .name {
            width: 40%;
        }

        .state {
            width: 60%;
        }

        &.starting {
            color: $color-yellow;
        }

        &.up {
            color: $color-green;
        }
    }
}
