#dashboardBody .widget.HerokuStatusWidget {
    h1.title {
        margin: 0;
    }

    i {
        font-size: 170px;
        height: auto;
    }

    .heroku-message {
        font-size: 24px;
        color: #999;
    }

    .herokuUp {
        color: green;
    }

    .herokuDown {
        color: red;
    }

    .herokuDevDown {
        color: #ffff00;
    }
}
