// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.NumberWidget {
  .change-rate {
    font-weight: 500;
    font-size: 30px;
    margin-top: 30px;
  }
}