// ----------------------------------------------------------------------------
// Widget-messages styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.ProcessWidget {
    overflow: hidden;

    .process {
        margin: 10px 0;
        width: 100%;

        color: $color-red;
        &.starting {
          color: $color-yellow;
        }

        &.up {
          color: $color-green;
        }

        &.unmonitored, &.down {
          .pid {
            display: none;
          }
        }

        .icon {
          width: auto;
          height: auto;
          background: none;
          font-size: 120px;
          line-height: 126px;
        }

    }
}
