// ----------------------------------------------------------------------------
// Widget-messages styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.ProcessWidget {
    overflow: hidden;

    h1 {
        height: 4rem;
    }

    .process {
        margin: 10px 0;
        width: 100%;
        color: $color-red;

        &.starting {
            color: $color-yellow;
        }

        &.up {
            color: $color-green;
        }

        &.unmonitored, &.down {
            .pid {
                display: none;
            }
        }

        .icon {
            width: auto;
            height: auto;
            background: none;
            font-size: 9rem;
            line-height: 9rem;
        }

    }
}
