// ----------------------------------------------------------------------------
// Widget-messages styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.RabbitMQWidget {
    overflow: hidden;

    .logo {
        margin-bottom: 20px;
    }

    .queues {
        margin: 10px 0;

        .queue {
            width: 100%;

            .name {
                width: 35%;
                text-align: right;
                padding: 2px 4px;
                font-weight: normal;
            }

            .status {
                width: 65%;
                text-align: left;
                padding: 2px 4px;
                color: $color-gray;
            }
        }
    }
}
