// ----------------------------------------------------------------------------
// Widget-messages styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.RabbitMQWidget {
    overflow: hidden;

    .logo {
        height: 4rem;
        margin-bottom: 1rem;
    }

    .queues {
        .queue {
            font-size: 1.3rem;
            width: 100%;

            .name {
                width: 35%;
                text-align: right;
                padding: 2px 4px;
                font-weight: normal;
            }

            .status {
                line-height: 1.5rem;
                width: 65%;
                text-align: left;
                padding: 2px 4px;
                color: $color-gray;
            }

            .failure {
                color: $color-red;
            }
            .warning {
                color: $color-yellow;
            }
        }
    }
}
