// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4D4C4C;


// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.TextWidget {

  background-color: $background-color;

}
