#dashboardBody .widget.WeatherWidget {
    .weather-icon {
        font-family: 'Icons';
        font-size: 210px;
        line-height: 0.9;
    }

    .weather-info {
        font-size: 40px;
    }
}
