// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #CC0C39;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.ErrorWidget {

  &.warning {
    background: {
      color: $background-color;
      image: url(/img/sock.png);
      repeat: no-repeat;
      position:  191px 215px;
      size: 19%;
    }
  }

}
