// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4D4C4C;


// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.GraphWidget {
  background-color: $background-color;

  .graph_container {
    position: absolute;
    bottom: 0;
    left: -14px;
    opacity: 0.75;
  }

  .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    width: 30px;
    color: yellow;
  }

  .text {
    z-index: 255;
    position: relative;
  }

}
