// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4D4C4C;


// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.MessagesWidget {
  background-color: $background-color;
  overflow: hidden;

  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  h5 {
    color: #ddd;
    text-align: left;
    margin: 6px 0;
  }

  .message {
    text-align: left;
    border-bottom: 1px dotted #666;
    margin-bottom: 0.5em;
    padding-bottom: 0.4em;
    overflow: hidden;

    .createdAt {
      color: #aaa;
      font-size: 0.75em;
      margin-bottom: 2px;
    }

    .content {
      font-size: 1.2em;
      color: #ddd;
    }

    .targetAvatar {
      position: relative;

      img {
        margin-left: 33px;
      }

      i {
        background: url('img/crosshair.png');
        position: absolute;
        top: -63px;
        left: 0;
        width: auto;
        font-size: 154px;
        font-weight: normal;
        color: #f3704f;
      }
    }
  }
}