// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$title-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.NumberWidget {

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    display: none;
    margin-top: 30px;
  }

  .more-info {
    color: $moreinfo-color;
  }

}