// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.NumberWidget {

  background-color: $background-color;

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
    display: none;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    display: none;
  }


}

.widget-error-rate .widget-number.widget {
  background: url(/assets/sock.png) no-repeat 191px 225px;
  background-color: #CC0C39;
  padding-top: 0;
  background-size: 21%;

  h1 {
    margin-top: -10px;
  }
}