// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$title-color: rgba(255, 255, 255, 0.7);
$moreinfo-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
#dashboardBody .widget.NumberWidget {

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    display: none;
    margin-top: 30px;
  }

  .more-info {
    color: $moreinfo-color;
  }

}

.widget-error-rate .widget-number.widget {
  background: url(/img/sock.png) no-repeat 191px 225px;
  background-color: #CC0C39;
  padding-top: 0;
  background-size: 21%;

  h1 {
    margin-top: -10px;
  }
}