#dashboardBody {
  background-color: #282c2e;
}
#dashboardBody p.change-rate {
  color: #70c536;
}
#dashboardBody .widget.MessagesWidget .widgetContainer {
  background-color: #373c3f;
}
#dashboardBody .widget.MessagesWidget .message .content {
  color: #f3704f;
}
#dashboardBody .widget.MessagesWidget .message .icon-thumbs-up {
  color: #70c536;
}
#dashboardBody .widget.MessagesWidget .message .icon-thumbs-down {
  color: #f3704f;
}
#dashboardBody .widget.MessagesWidget .message .icon-screenshot {
  color: #ed303c;
}
#dashboardBody .widget.ErrorWidget .widgetContainer {
  background-color: #373c3f;
}
#dashboardBody .widget.GraphWidget .widgetContainer {
  background-color: #373c3f;
}
#dashboardBody .widget.NumberWidget .widgetContainer {
  background-color: #373c3f;
}
#dashboardBody .widget.BuildWidget .face {
  background-color: #248f8d;
}
#dashboardBody .widget.BuildWidget .FAILURE .face {
  background-color: #ed303c;
}
#dashboardBody .widget.BuildWidget .UNSTABLE .face {
  background-color: #f3704f;
}
#dashboardBody .widget.BuildWidget p.change-rate {
  color: white;
}
