/* line 25, ../../scss/themes/dark.scss */
#dashboardBody {
  background-color: #282c2e;
}
/* line 27, ../../scss/themes/dark.scss */
#dashboardBody p.change-rate {
  color: #70c536;
}
/* line 35, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget {
  background-color: #373c3f;
}
/* line 40, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget .message .content {
  color: #f3704f;
}
/* line 43, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget .message .content .failure {
  color: #ed303c;
}
/* line 46, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget .message .content .warning {
  color: #f3704f;
}
/* line 49, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget .message .content .success {
  color: #70c536;
}
/* line 55, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget .message .icon-thumbs-up {
  color: #70c536;
}
/* line 59, ../../scss/themes/dark.scss */
#dashboardBody .widget.MessagesWidget .message .icon-screenshot {
  color: #ed303c;
}
/* line 65, ../../scss/themes/dark.scss */
#dashboardBody .widget.ErrorWidget {
  background-color: #373c3f;
}
/* line 69, ../../scss/themes/dark.scss */
#dashboardBody .widget.GraphWidget {
  background-color: #373c3f;
}
/* line 73, ../../scss/themes/dark.scss */
#dashboardBody .widget.NumberWidget {
  background-color: #373c3f;
}
/* line 78, ../../scss/themes/dark.scss */
#dashboardBody .widget.BuildWidget .face {
  background-color: #248f8d;
}
/* line 83, ../../scss/themes/dark.scss */
#dashboardBody .widget.BuildWidget .FAILURE .face {
  background-color: #ed303c;
}
/* line 88, ../../scss/themes/dark.scss */
#dashboardBody .widget.BuildWidget p.change-rate {
  color: white;
}
