<?php
return array(
    'doctrine' => array(

        'connection' => array(
            'odm_default' => array(
                'server'    => 'localhost',
                'port'      => '27017',
                'dbname'    => 'dashboard',
            ),
        ),

        'configuration' => array(
            'odm_default' => array(
                'default_db'         => 'dashboard',
            )
        ),

        'driver' => array(
            'odm_default' => array(
            )
        ),

        'documentmanager' => array(
            'odm_default' => array(
            )
        ),

        'eventmanager' => array(
            'odm_default' => array(
                'subscribers' => array()
            )
        ),
    ),
);
